# 插入点语法 https://github.com/Linfee/ultisnips-zh-doc/blob/master/doc/UltiSnips_zh.txt#L950

snippet bye "My mail signature"
Good bye, Sir. Hope to talk to you soon.
- Arthur, King of Britain
endsnippet

# vim 脚本，计算缩进数
snippet indent
Indent is: `!v indent(".")`.
endsnippet
