snippet vexport "vue export" !b
export default {
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
  },
  filters: {
  },
  watch: {
  },
  created() {
  },
  mounted () {
  },
  beforeDestory () {
  }
}
endsnippet

