# https://github.com/Linfee/ultisnips-zh-doc/blob/master/doc/UltiSnips_zh.txt#L599

snippet vues "vue template" !b
<template lang="pug">
	$1
</template>
<script>
export default {
	data () {
		return {
		}
	},
	methods: {
	},
	computed: {
	},
	mounted () {
	}
}
</script>
<style lang="stylus">
</style>
endsnippet
